# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo

# Electron build outputs
electron/out/
electron/web/
electron/release

# Database
packages/server/data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Bun
bun.lock
*.tar
electron/server
packages/server/dist-electron

packages/video
nul
docs/
opencode/
lute
vditor
